TABLE#invites_form_table {
	width: 100%;
}
TR#invites_form_header {
	background-color:#eeeeee;
}
TH#invites_form_header_actions_th {
	text-align: center;
}
TD.node_invite_greyed_out {
	/* you can show the links as greyed out if you like... fancy */
	visibility: hidden;
}
